<%= javascript_include_tag "application" %>


<div id="content-area">
  
  <div class="w-100">
    <div class="text-center">
      <div class="s1">
        <h2 class="px-3 mx-5 pt-4 mt-3" style="color: black; font-size: rem;">Welcome to the Largest List of Personally Written Affirmations on the Web</h2>
        <div class="buttons">
          <a href="/affirmations" class="btn color2 btn-primary mt-5" style="font-size: 24px; font-weight: bold; padding: 10px 20px 10px 20px; width: auto;">Go to Affirmation List</a>
          <br>
          <a href="/view-blog/1" class="btn color2 p-3 btn-primary px-3 mt-5 mx-4" style="font-size: 20px;">What are affirmations</a>
          <a href="/view-blog/2" class="btn color2 p-3 btn-primary px-3 mt-5 mx-4" style="font-size: 20px;">How to use affirmations</a>
        </div>
      </div>
    </div>
    <div class="text-center" style="background: var(--mid-bg);">
      <div class="mx-auto pb-4 w-100">
        <div class="w-100 p-3 mb-3 corona">
          <a href="/view-affirmations/coronavirus/coronavirus" class="corona-text" style="font-size: 20px;">Check out our Coronavirus Affirmations!</a>
        </div>
          <% if user_signed_in? %>
            <h3 class="">Welcome Back, <strong><%= current_user.first_name %></strong></h3>
            <div>
              <a href="/favorites" class="btn color2 btn-primary mt-3">My Favorite Affirmations</a>
            </div>
          <% else %>
            <h3 class="" style="color:var(--color4); font-weight:bold;">Sign up now to access over 1200 affirmations!<br></h3>
            <a href="/users/sign_up" class="btn color2 btn-primary mt-2" style="font-size: 24px; font-weight: bold; padding: 10px; width: 20vw;">Sign Up</a><br>
          <% end %>
        
      </div>
    </div>
    <div class="text-center mb-5 pb-3">
        <h3 class="mt-5" style="color:var(--color4); font-weight:bold;">Blog</h3>
           <div class="container mt-5">
              <div class="row pb-5">
                
                <% @blogs.each do |blog| %>
                      <div class="card-box mx-4" style="width: 35%;" onclick="window.location.href ='/view-blog/<%= blog.id %>'">
                          <div class="card-title">
                              <h2><%= blog.title %></h2>
                              <p style="overflow: hidden; text-overflow: ellipsis;"><%= sanitize(blog.text, tags:[])[0, 170]+'...' %></p>
                          </div>
                          <div class="card-link">
                              <a href="/view-blog/<%= blog.id %>" class="c-link" style="color: var(--color3); font-weight: bold;">Read More
                                  <i class="fa fa-angle-right"></i>
                              </a>
                          </div>
                      </div>
                <% end %>

              </div>
          </div>
    </div>
  </div>
  
 
</div>
 

<style>

  .card-box {
      background: #FAFAFA;
      min-height: 300px;
      position: relative;
      padding: 30px 30px 20px;
      margin-bottom: 20px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative;
      cursor: pointer;
      border: 3px solid var(--color1);
  }

  .card-box:hover {
      background: var(--mid-bg);
  }

  .card-box:after {
      display: block;
      background: #2196F3;
/*      border-top: 2px solid var(--color4);
*/      content: '';
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
  }

  .card-title h2 {
      margin: 0;
      padding-top: 5%;
      color: var(--color4);
      font-size: 24px;
      line-height: 1;
      margin-bottom: 15px;
  }

  .card-title p {
      margin: 0;
      margin-bottom: 10px;
      font-size: 16px;
  }

  .card-link a {
      text-decoration: none;
      color: var(--color4);
      font-size: 15px;
  }
  
  
  .s1{
    background: var(--color2);
    padding-bottom: 5vh;
  }
  h1{
    font-weight: bold;
    color: white;
    font-size: 3rem;
  }
  h4{
    color: #777;
  }
  .color2{
    background: var(--color3) !important;
    border: var(--color3);
    border: 3px solid var(--color1);
  }
  .bigbutton{
    padding: 2vh;
    font-weight: bold;
   /* border: 3px solid var(--color1);*/
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .btn:hover {
    border: 3px solid var(--color1);
    background: #b77093 !important;
  }  
  .corona{
    background: #b77093;
  }
  .corona-text:hover {
    font-size: 24px !important;
    color: white;
  }
  
  
</style>