<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div id="content-area">
  <div>
    
    <section id="tabs">
    	<div class="container">
    		<h1 class="text-center mb-5" style="color:white;">Categories</h1>
    		<div class="row">
    			<div class="column1">
    				
            <nav class="nav1">
    					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
    						<a class="nav-item nav-link active mt-0" id="nav-<%= @categories.first.category_safe %>-tab" data-toggle="tab" href="#nav-<%= @categories.first.category_safe %>" role="tab" aria-controls="nav-<%= @categories.first.category_safe %>" aria-selected="true"><%= @categories.first.category %></a>
                <% @categories.drop(1).each do |c| %>
      						<a class="nav-item nav-link" id="nav-<%= c.category_safe %>-tab" data-toggle="tab" href="#nav-<%= c.category_safe %>" role="tab" aria-controls="nav-<%= c.category_safe %>" aria-selected="true"><%= c.category %></a>
                <% end %>
    					</div>
    				</nav>
  					
          </div>  
    					
            <div class="column2">
              <div class="tab-content mb-0 px-3 px-sm-0" id="nav-tabContent">
        					<div class="tab-pane fade show active" id="nav-<%= @categories.first.category_safe %>" role="tabpanel" aria-labelledby="nav-<%= @categories.first.category_safe %>-tab">
        					  <div style="font-size: 30px !important;"><%= @categories.first.category %></div>
                    
                    <div class="mx-auto">
                      
                      <div class="box">
                        
                        <a href="/view-affirmations/<%= @categories.first.category %>/<%= @categories.first.sub1 %>" class="item">
                          <%= @categories.first.sub1 %>
                        </a>
                        <a href="/view-affirmations/<%= @categories.first.category %>/<%= @categories.first.sub2 %>" class="item">
                          <%= @categories.first.sub2 %>
                        </a>
                        <a href="/view-affirmations/<%= @categories.first.category %>/<%= @categories.first.sub3 %>" class="item">
                          <%= @categories.first.sub3 %>
                        </a>
                        
                        <% if @categories.first.sub4 %>
                          <a href="/view-affirmations/<%= @categories.first.category %>/<%= @categories.first.sub4 %>" class="item">
                            <%= @categories.first.sub4 %>
                          </a>
                        <% end %>
                        
                        <% if @categories.first.sub5 %>
                          <a href="/view-affirmations/<%= @categories.first.category %>/<%= @categories.first.sub5 %>" class="item">
                            <%= @categories.first.sub5 %>
                          </a>
                        <% end %>
                      </div>
                    </div>
                    
                  </div>
                 
                  <% @categories.drop(1).each do |c| %>
        				  	<div class="tab-pane fade" id="nav-<%= c.category_safe %>" role="tabpanel" aria-labelledby="nav-<%= c.category_safe %>-tab">
        				  	  <div style="font-size: 30px !important;"><%= c.category %></div>
                      
                      <div class="mx-auto">
                        
                        <div class="d-flex box">
                          <a href="/view-affirmations/<%= c.category %>/<%= c.sub1 %>" class="item">
                            <%= c.sub1 %>
                          </a>
                          <a href="/view-affirmations/<%= c.category %>/<%= c.sub2 %>" class="item">
                            <%= c.sub2 %>
                          </a>
                          <a href="/view-affirmations/<%= c.category %>/<%= c.sub3 %>" class="item">
                            <%= c.sub3 %>
                          </a>
                          
                          <% if c.sub4 %>
                            <a href="/view-affirmations/<%= c.category %>/<%= c.sub4 %>" class="item">
                              <%= c.sub4 %>
                            </a>
                          <% end %>
                        
                          <% if c.sub5 %>
                            <a href="/view-affirmations/<%= c.category %>/<%= c.sub5 %>" class="item">
                              <%= c.sub5 %>
                            </a>
                          <% end %>
                          
                        </div>
                        
                      </div>
                      
                    </div>
                  <% end %>
      				</div>
            </div>
			      
          </div>
    			</div>
    		</div>
    	</div>
    </section>
    
  </div>
  
</div>

<style>
  /* Tabs*/
  section {
      padding: 60px 0;
  }

  section .section-title {
      text-align: center;
      color: var(--color4);
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  #tabs{
  	background: var(--color2);
      color: var(--color4);
  }
  #tabs h6.section-title{
      color: var(--color4);
  }
  
  .tab-pane {
    height: auto;
    margin-top: 0;
    padding-top: 25px;
    text-align: center;
    background: var(--color3);
    color: white;
    font-size: 24px;
    min-height: 60vh;
  }
  
  
  .row {
    display: flex;
  }

  .column1 {
    flex: 30%;
  }
  .column2 {
    flex: 70%;
  }
  
  #nav-tab {
  }

  nav {
    border-bottom: none;
  }
  
  .nav1 {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .nav {
    flex-direction: column;
    margin-top: 0;
  }
  
  .nav-tabs {
    border-bottom: none !important;
  }
  
  
  
  #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      color: white !important;
      background-color: var(--color3);
      border-color: white;
      border-right: 2px solid !important;
      font-size: 20px;
  }
  #tabs .nav-tabs .nav-link {
    border: 1px solid var(--color3);
    margin: 5px 0 0 5px;
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
      border-top-right-radius: 0;
      color: var(--color4);
      font-size: 20px;
  }
  
  .nav-link {
  }
  
  #tabs a:hover {
    background-color:rgba(159, 39, 79, 0.5);"
  }
  
  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vw;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .box .item {
    width: auto;
    height: auto;
    padding: 20px 30px;
    border: 1px solid white;
    margin: 10px;
  }
  
  
  a.item {
    color: white;
  }
  
</style>