<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<div id="content-area mb-5">
  <h1 class="text-center mt-3"></h1>
  
  <h1 class="text-center p-3" style="color:white;"><%= @cat.category %></h1>
  <div class="m-3 text-center">
    <a href="/affirmations" class="btn mx-auto color2 btn-primary" style="font-size: 20px;">	&larr; Back to All Categories</a>
  </div>
  <div class="buttons mx-auto">
    <% if @cat.sub1 %>
      <a href="/view-affirmations/<%= @cat.category_safe %>/<%= @cat.sub1 %>" class="item <%= 'active' if @sub == @cat.sub1 %>"><%= @cat.sub1 %></a>
    <% end %>
    <% if @cat.sub2 %>
      <a href="/view-affirmations/<%= @cat.category_safe %>/<%= @cat.sub2 %>" class="item <%= 'active' if @sub == @cat.sub2 %>"><%= @cat.sub2 %></a>
    <% end %>
    <% if @cat.sub3 %>
      <a href="/view-affirmations/<%= @cat.category_safe %>/<%= @cat.sub3 %>" class="item <%= 'active' if @sub == @cat.sub3 %>"><%= @cat.sub3 %></a>
    <% end %>
    <% if @cat.sub4 %>
      <a href="/view-affirmations/<%= @cat.category_safe %>/<%= @cat.sub4 %>" class="item <%= 'active' if @sub == @cat.sub4 %>"><%= @cat.sub4 %></a>
    <% end %>
    <% if @cat.sub5 %>
      <a href="/view-affirmations/<%= @cat.category_safe %>/<%= @cat.sub5 %>" class="item <%= 'active' if @sub == @cat.sub5 %>"><%= @cat.sub5 %></a>
    <% end %>
  </div>
  <div class="affs mx-auto mx-5 mb-3">
    <div class="row">   
     <div class="p1 mx-auto" style="width: 100%;">
       <div class="aff row p-1 m-3 font-weight-bold">
         <div class="col-8">Affirmation</div>
         <a href="/favorites" class="col-4 text-right" style="color: var(--color1);">Save to Favorites</a>
        </div>
       <% @affirmations.each do |a| %>
         <div class="aff row p-1 m-3" id="affirmation-<%= a.id %>">
           <div class="col-9" style="line-height: 100%;"><%= a.affirmation %></div>
           <div class="col-3 text-right">
             <% if is_fav(a) %>
             <a href="/favorites">
               <button class="bluesubmitbutton">
                 <i class="icon-star icon-white"></i>
               </button>
             </a>
             <% else %>
               <%= form_for Favorite.new do |f| %>
                 <%= f.hidden_field :affirmation, value: a.affirmation %>
                 <%= f.hidden_field :cat, value: @cat.category %>
                 <%= f.hidden_field :sub, value: @sub %>
                 <%= f.hidden_field :user_id, value: current_user.id %>
               
               
                   <%= button_tag( :class => "submitbutton") do %>
                     <i class="icon-star icon-white"></i>
                   <% end %>
               
               
               
               
               
               <% end %>
             <% end %>
             
           </div>
         </div>
       <% end %>
     </div>

    </div>
  </div>
    
    
</div>



<style>
  html{
      height: 100%;
      margin: auto;
      overflow: hidden !important;
  }
  .submitbutton {
    background: var(--color3) !important;
    color:  white;
    padding: 7.5px;
    border-radius: 10px;
    height: 100%;
    font-size: 24px;
    
  }
  .submitbutton:hover {
    background: #cd89a0 !important;
  }
  .bluesubmitbutton {
    background: var(--color1) !important;
    color:  white;
    padding: 7.5px;
    border-radius: 10px;
    height: 100%;
    font-size: 24px;
    
  }
  .bluesubmitbutton:hover {
    background: lightblue !important;
  }
  .p1 {
    font-size: 18pt;
    padding: 50px;
    background: #eee;
  }
  .color2{
    background: var(--color3) !important;
    border: var(--color3);
    padding: 10px;
  }
  .bigbutton{
    padding: 2vh;
    font-weight: bold;
   /* border: 3px solid var(--color1);*/
  }
  .affs {
    border: 5px solid var(--color3);
    background: #eee;
    width: 85%;
    height: 70vh;
    overflow: scroll;
  }
  .aff {
    border: 3px solid var(--color3);
    color: black;
    display: flex;
    align-items: center;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 85%;
  }
  .buttons .item {
    font-size: 22px;
    color: white;
    background: var(--color3);
    padding: 10px 50px;
    border: 5px solid var(--color3);
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .active {
    background: #cd89a0 !important;
    font-weight: bold !important;
  }
  form {
    margin: 0 !important;
  }
</style>